html, body {
    margin: 0px;
    padding: 0px;
    background: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
    color: #402e6b;
}

.isLoading {
    opacity: 0.5;
    transition: opacity 0.3s;

}

.card {
    width: calc(100% - 40px);
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border: solid 1px grey;
    box-shadow: #c3c3c3 0px 0px 20px 0px
}

h1 {
    font-size: 4rem;
}