<template>
    <div class="asset card" v-bind:class="isAssetInCombo + '-state'">
      <div class="name">{{name}}</div>
      <div class="isin">{{ISIN}}</div>
      <div class="value">{{assetValue}}</div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Getter } from 'vuex-class';

const namespace: string = 'portfolio';

@Component
export default class Asset extends Vue {
    @Prop() initialName!: string;
    @Prop() initialISIN!: string;
    @Prop() initialValue!: number;
    @Prop() initialCurrencySymbol!: string;
    @Prop() initialActiveState!: string;

    @Getter('combos', { namespace }) combos: any;

    name = this.initialName;
    ISIN = this.initialISIN;
    value = this.initialValue;
    currencySymbol = this.initialCurrencySymbol;
    activeState = this.initialActiveState;

    get assetName(): string {
        return this.name;
    }

    get assetISIN(): string {
        return this.ISIN;
    }

    get assetValue(): string {
        return this.currencySymbol + String(this.value.toFixed(2));
    }

    get isAssetInCombo(): string {
        let present = undefined;
        for (let i = 0; i < this.combos.length; i++) {
            const present = this.combos[i].assets.find((currentAsset: Asset) => {
                return this.ISIN === currentAsset.ISIN;
            })
            if (present !== undefined) {
                return this.combos[i].exactMatch ? "exact" : "partial";
            }
        }
        return "default";
    }
}
</script>

<style scoped>
    .asset {
        position: relative;
    }

    .asset.exact-state:before {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        border: solid 10px green;
        border-radius: 50%;
    }

    .value {
        float: right;
        font-size: 2.5rem;
    }

    .isin {
        float: left;
        font-size: 2.5rem;
    }

    .name {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 2.5rem;
    }
</style>

