<template>
    <div>
        <h4>Sell assets of worth:</h4>
        <form>
            <input @input="inputUpdated($event)" type="number"/>
            <button @click="inputCheckSubmitted">check</button>
        </form>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Asset } from "../entity"
import { State, Action, Getter } from 'vuex-class';

const namespace: string = 'portfolio';

@Component
export default class ComboCheckForm extends Vue {

    @Prop() initialValue!: number;
    @Prop() initialCurrencySymbol!: string;

    @Action('getCombos', { namespace }) getCombos: any;

    value = this.initialValue;
    currencySymbol = this.initialCurrencySymbol;

    get formValue(): string {
        return this.currencySymbol + String(this.value.toFixed(2))
    }

    inputUpdated(event: any) {
        this.value = event.target.value
    }

    inputCheckSubmitted(event: any) {
        event.preventDefault()
        this.getCombos(this.value)
        this.$router.push({name: 'combos'})
    }
}
</script>


<style>
    form {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    h4 {
        font-size: 2rem;
    }

    input {
        display: block;
        font-size: 2rem;
        width: 77%;
        padding: 10px;
    }

    button {
        display: block;
        font-size: 2rem;
        width: 20%;
        padding: 10px;
    }
</style>