<template>
    <div>
        <div v-for="index in getCount()" v-bind:key="index">Hello {{name}}</div>
        <button @click="duplicate">duplicate</button>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class HelloWorld extends Vue {
    @Prop() name!: string;
    @Prop() initialCount!: number;

    count = this.initialCount

    duplicate() {
        this.count++;
    }

    getCount() {
        return this.count
    }
}
</script>
