<template>
    <div class="combos" v-bind:class="{ isLoading: getLoadingState() }">
        <h1>Combos</h1>
        <p v-if="!comboData[0]">We've not been able to find any combination of assets that can meet your request.</p>
        <div
            v-for="(combo, key) in comboData"
            v-bind:key=key
            v-bind:class="`combo-${key}`"
        >
            
            <h4>Assets in combo {{ key + 1 }} (to sell)</h4>
            
            <div class="assetWrapper">
                <Asset
                    v-for="asset in combo.assets"
                    v-bind:key=asset.ISIN
                    :initialCurrencySymbol=globalCurrency
                    :initialName=asset.Name 
                    :initialISIN=asset.ISIN
                    :initialValue=asset.Value
                    
                />
                <div class='card'>
                    <h4>Total value to withdraw: {{globalCurrency}}{{combo.setValue}}</h4>
                </div>
            </div>
            
        </div>
        <router-link to="/">return to portfolio</router-link>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Getter, Action } from 'vuex-class';
import Balance from "../components/balance.vue";
import Asset from "../components/asset.vue";
import WithdrawForm from "../components/withdrawForm.vue";
import ComboCheckForm from "../components/comboCheckForm.vue";

const namespace: string = 'portfolio';

@Component({
    components : {
        Asset,
    }
})
export default class Combos extends Vue {
    @Prop() initialLoadingState!: boolean;
    @Getter('combos', { namespace }) combos: any;

    loadingState = this.initialLoadingState;

    getLoadingState() {
        return this.loadingState;
    }

    mounted() {
        this.loadingState = false;
    }

    get globalCurrency(): string {
        return "£"
    }

    get comboData(): Array<Array<Asset>> {
        return this.combos
    }
}
</script>

<style scoped>
    .combos {
        padding-bottom: 8rem;
        width: 92%;
        text-align: center;
        margin: auto;
    }

    .assetWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .asset.exact-state:before {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        border: solid 10px green;
        border-radius: 50%;
    }


.asset.partial-state:before {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        border: solid 10px orange;
        border-radius: 50%;
    }

    h4 {
        font-size: 1.5rem;
    }

    span, p {
        font-size: 3rem;
    }
</style>
