<template>
    <div class="portfolio" v-bind:class="{ isLoading: getLoadingState() }">
        <h1>Portfolio</h1>

        <div class="assetWrapper">
            <Asset
                v-for="asset in assetData"
                v-bind:key=asset.ISIN
                :initialCurrencySymbol=globalCurrency
                :initialName="asset.name" 
                :initialISIN="asset.ISIN"
                :initialValue=asset.value
                :initialActiveState="'default'"
            />
        </div>

        <div class='formWrapper'>
        <ComboCheckForm
            :initialCurrencySymbol=globalCurrency
            :initialValue=0
        />
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Getter, Action } from 'vuex-class';
import Asset from "../components/asset.vue";
import ComboCheckForm from "../components/comboCheckForm.vue";

const namespace: string = 'portfolio';

@Component({
    name: "portfolio",
    components : {
        Asset,
        ComboCheckForm,
    }
})

export default class Portfolio extends Vue {
    @Prop() initialLoadingState!: boolean;
    @Getter('assets', { namespace }) assets: any;
    @Action('getAssets', { namespace }) getAssets: any;

    loadingState = this.initialLoadingState;

    getLoadingState() {
        return this.loadingState;
    }

    mounted() {
        this.getAssets("testExample")
        this.loadingState = false;
    }

    get globalCurrency(): string {
        return "£"
    }

    get assetData(): Array<Asset> {
        return this.assets.assets
    }
}
</script>

<style scoped>
    .portfolio {
        padding-bottom: 8rem;
        width: 95%;
        text-align: center;
        margin: auto;
    }

    .assetWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formWrapper {
        width: 100%;
    }
</style>
